main{
    padding-top:40px;
}
h1{
    margin-left:55px;
}


#layout {
    display:flex;
    justify-content: center;
    margin-right:80px;
    margin-top: 10vh;
}

#model-viewer{
    width:400px;
    
}

#model-viewer model-viewer{
    width: 100%;
    height:100%;
}

#sliders{
   width: 300px; 
}

#download-icon{
    width:1rem;
}

#download{
    width:100%;
    display:flex;
    justify-content: center;
    gap:5px;
    align-items: center;
}

