main{
    padding-top:40px;
}
h1{
    margin-left:15vw;
    
}

h1#site-map > a{
    color:#2e2f33;
    padding: 0px 7px;
}

h1#site-map > a:hover{
    background-color:#eeb868;
}

#layout {
    display:flex;
    justify-content: center;
    margin-right:90px;
    margin-top: 10vh;
    align-content: center;
    flex-wrap:wrap;
}

#model-viewer{
    width:450px;
    
}

#model-viewer model-viewer{
    width: 100%;
    height:100%;
}

#sliders{
   width: auto; 
   align-self:center;
   margin-bottom:50px;
}

#download-icon{
    width:1rem;
}

#download_button{
    width:100%;
    display:flex;
    justify-content: center;
    gap:5px;
    align-items: center;
    font-size: 110%;
    padding: 5px 0px;
    background-color:#8ad9fa;
    border-radius:5px;
    border:solid 3px #6cb5d4 ;
}

#download_button:hover{
    border:solid 3px #2e2f33;
}

#download_button:active{
    background-color: #5A9AB5;
}

